{% if page.show_sidebar != false %}

<aside class="sidebar">

  <img class="avatar" src="/assets/images/profile.jpg" alt="Selim Reza">

  <div class="name">Selim Reza</div>

  <p class="oneLine">MSc Student at Kanazawa University, Japan</p>

  <div class="meta">
    <div><strong>Contact</strong></div>
    <div>
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:selimreza929@gmail.com">selimreza929@gmail.com</a>
    </div>
  </div>

  <div class="meta">
    <div><strong>Profiles</strong></div>

    <div><i class="fa-solid fa-graduation-cap"></i>
      <a href="https://scholar.google.com/citations?user=sCUU60kAAAAJ&hl=en">Google Scholar</a>
    </div>

    <div><i class="fa-brands fa-orcid"></i>
      <a href="https://orcid.org/0000-0002-0620-1095">ORCID</a>
    </div>

    <div><i class="fa-brands fa-github"></i>
      <a href="https://github.com/selimphy">GitHub</a>
    </div>

    <div><i class="fa-solid fa-flask"></i>
      <a href="https://www.researchgate.net/profile/Selim-Reza-8">ResearchGate</a>
    </div>

    <div><i class="fa-brands fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/selimphy">LinkedIn</a>
    </div>

    <div><i class="fa-brands fa-goodreads"></i>
      <a href="https://www.goodreads.com/bookember">Goodreads</a>
    </div>

    <div><i class="fa-brands fa-facebook"></i>
      <a href="https://facebook.com/SelimReza929">Facebook</a>
    </div>

  </div>

</aside>

{% endif %}
